
body {
    font-family: Arial, sans-serif;
    color: #fff;
    margin: 5;
    padding: 5;
    background: #954239;
  }
  
  .container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #fff;
  }
  
  h1, h3 {
    text-align: center;
    margin-bottom: 20px;
    color: #fff;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    padding: auto;
    align-self: center;
    background-color: #411D19;
    box-sizing: border-box;
  }
  
  
  
  table th,
  table td {
    padding: 10px;
    border: 1px solid #ccc;
    color: #fff;
  }
  header{
    background-color: #8d3d1b;
    height: auto;
    width: auto;
  }
  
  .logo{
    position: relative;
    left: 30px;
    top: 30px;
  }
  
  footer{
    text-align: center;
  }

  a{
    color: #fff;
    text-decoration: none;
  }
  
  button {
    background-color: #F9682C;
    color: #fff;
    border: none;
    padding: 10px 20px;
    margin: 7px;
    cursor: pointer;
    font-size: 14px;
    border-radius: 4px;
  }
  
  
  
  button:hover {
    background-color: #b38000;
  }
  
  form {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
  }
  
  label {
    margin-bottom: 10px;
  }
  
  input {
    padding: 8px;
    border-radius: 4px;
    border: 1px solid #ccc;
  }
  
  input[type="text"],
  input[type="number"] {
    width: 100%;
  }
  
  .popup-content{
    padding: 7%;
  }
  
  .modal {
    background-color: #894822;
    max-width: 500px;
    margin: 0 auto;
    border-radius: 10px;
    position: fixed;
    top: 40%;
    left: 25%;
    right: 30%;
    transform: translate(0%, -50%);
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 1.8);
    z-index: 100;
  }
  
  .modal h2 {
    margin-top: 0;
  }
  
  .actions {
    display: flex;
    justify-content: flex-end;
    margin-top: 20px;
  }
  
  .link-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #007bff;
    cursor: pointer;
  }
  
  .link-button:hover {
    text-decoration: underline;
  }
  
  .schedule-button {
    background: none;
    border: none;
    padding: 0;
    margin: 0;
    color: #007bff;
    cursor: pointer;
  }
  
  .schedule-button:hover {
    text-decoration: underline;
  }
  
  input{
    background-color: #d7a27e;
  }
  
  .btn {
    margin: 0.5rem;
  }
  
  